*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: fit-content;
    width: 99vw;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #d8d8d8, #b3b3b3, #aaaaaa);
    color: #0A000A;
}  

.nav-bar{
    width: 100%;
    top: 0;
    display: flex;
    height: 75px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 35px;
    background-color: black;
    padding-bottom: 5px;
    position: fixed;
}

.nav-bar a{
    text-decoration: none;
    color: white;
}

header p
{
    margin: 20px;
    font-size: 24px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    background-color: #ffffff;
    width: 80%;
    height: max-content;
    margin: 95px auto 20px auto;
    border: solid black 4px;
    border-radius: 10px;
    max-width: max-content;
    max-height: max-content;
}

main 
{
    display: flex;
    flex-direction: column;
}

main section
{
    padding-bottom: 200px;
    padding-top: 200px;
    
}


.container a {color: #0A000A;}

.container main {margin: 20px;}

h1 
{
    text-align: center;
    font-size: 50px;
}

.header-main
{
    margin-top: 20px;
    border: solid black 2px;
    border-radius: 2px;
}

section p, section div a
{
    font-size: 24px;
    margin-top: 20px;
}

.projectnums
{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.projectnum1, .projectnum2, .projectnum3, .projectnum4 {display: flex;}

#abt-me-text, #proj-text, #ftr-goals-text {font-size: 40px;}

.main-footer
{
    border: solid black 2px;
    border-radius: 2px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

footer a {
    text-decoration: none;
    font-size: 30px;
}

@media (max-width: 768px)
{
    .nav-bar{
    width: 100%;
    top: 0;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    background-color: rgb(250, 227, 112);
    padding-bottom: 5px;
    position: fixed;
    }

    footer a {
    text-decoration: none;
    font-size: 22.5px;
    }

    section p {
        font-size: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .nav-bar{
    font-size: 30px;
    }

    footer a {
    text-decoration: none;
    font-size: 27.5px;
    }

    section p {
        font-size: 22px;
    }
}
